/* Extra small devices (phones, 600px and down) */
/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
div.tps-tooltip-text {
  font-size: 14px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.tps-tooltip {
  position: absolute !important;
  border: 1px solid #0078c2 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 15px !important;
  color: #0078c2 !important;
  top: 0;
  right: 10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  box-sizing: border-box;
}
.tps-tooltip:hover {
  background-color: #dbf1ff;
}
.tps-tooltip:before {
  content: "?";
  font-size: 13px;
  font-weight: bold;
  color: #0078c2;
  text-align: center;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
}
.tps-tooltip__active::before {
  content: "?";
  background-color: #0078c2;
  color: #fff;
  border-radius: 50%;
}
.tps-tooltip__active .tps-tooltip__text {
  visibility: visible;
  opacity: 1;
}

.tps-tooltip-text {
  font-family: "Roboto";
  font-style: normal;
  background-color: #0078c2 !important;
  color: #fff !important;
  border-radius: 6px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16.41px !important;
  align-items: center !important;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  position: absolute;
  display: flex !important;
  box-shadow: gray 1px 1px 1px;
  filter: blur(4);
  z-index: 1;
}
@media screen and (min-width: 375px) {
  .tps-tooltip-text {
    top: -10px !important;
    right: 0 !important;
    width: 160px;
    padding: 7px 7px 10px 11px !important;
    transform: translateY(-100%);
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 88%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0078c2 transparent transparent transparent;
  }
}
@media screen and (max-width: 375px) {
  .tps-tooltip-text {
    top: -10px !important;
    right: 0 !important;
    width: 160px;
    padding: 7px 7px 10px 11px !important;
    transform: translateY(-100%);
    width: 160px;
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 88%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0078c2 transparent transparent transparent;
  }
}
@media screen and (min-width: 600px) {
  .tps-tooltip-text {
    top: -10px !important;
    right: 0 !important;
    width: 190px;
    padding: 7px 7px 10px 11px !important;
    transform: translateY(-100%);
    width: 175px;
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0078c2 transparent transparent transparent;
  }
}
@media screen and (min-width: 768px) {
  .tps-tooltip-text {
    top: -10px !important;
    right: 0 !important;
    height: 24px;
    width: 201px;
    padding: 7px 7px 7px 11px !important;
    transform: translateY(-100%);
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0078c2 transparent transparent transparent;
  }
}
@media screen and (min-width: 992px) {
  .tps-tooltip-text {
    top: -10px !important;
    right: 0 !important;
    width: 201px;
    padding: 7px 7px 10px 11px !important;
    transform: translateY(-100%);
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: -3px;
    border-width: 5px;
    border-style: solid;
    border-color: #0078c2 transparent transparent transparent;
  }
}
@media screen and (min-width: 1366px) {
  .tps-tooltip-text {
    top: 0 !important;
    min-height: 81px;
    right: 105% !important;
    width: 178px;
    padding: 7px 7px 7px 18px !important;
    transform: translateY(-10%);
  }
  .tps-tooltip-text:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    background-color: #0078c2;
    height: 11px;
    width: 13px;
    left: 199px;
    top: 12px;
    transform: translateY(8%);
    border-radius: 1px;
    transform: rotate(-45deg);
  }
}
.tps-tooltip-text__active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=tooltip.css.map */