.tps-tooltip {
  position: absolute;
  border: 1px solid #0078c2;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  color: #0078c2;
  top: -2px;
  left: -10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;

  &:hover {
    background-color: #dbf1ff;
  }

  &:before {
    content: "\003F";
    font-size: 13px;
    font-weight: bold;
    color: #0078c2;
    text-align: center;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    line-height: 15px;
  }

  &__text {
    visibility: hidden;
    position: absolute;
    width: 225px;
    background-color: #0078c2;
    color: #fff;
    text-align: justify;
    padding: 5px 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.active::before {
    content: "\003F";
    background-color: #0078c2;
    color: #fff;
    border-radius: 50%;
  }

  &.active &__text {
    visibility: visible;
    opacity: 1;
  }

  &--right {
    top: -8px;
    left: 125%;
    &:after {
      content: "";
      position: absolute;
      color: #fff;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #0078c2 transparent transparent;
    }
  }

  &--bottom {
    top: 140%;
    left: 50%;
    margin-left: -60px;
    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #0078c2 transparent;
    }
  }

  &--top {
    bottom: 170%;
    left: 50%;
    margin-left: -210px;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 90%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #0078c2 transparent transparent transparent;
    }
  }

  &--left {
    top: 0;
    bottom: auto;
    left: -100%;
    &:after {
      content: "";
      position: absolute;
      top: 20%;
      left: 100%;
      margin-top: -10px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #0078c2;
    }
  }
}
