/* Extra small devices (phones, 600px and down) */
$ex-small-mobile: 375px;
/* small devices (phones, 600px and down) */
$small-mobile: 570px;
/* Extra small devices (phones, 600px and down) */
$mobile: 640px;

/* Medium devices (landscape tablets, 768px and up) */
$tablet: 768px;

$desktop: 1366px;

@mixin break-point($w) {
  @media only screen and (max-width: $w) {
    @content;
  }
}

@mixin break-point-desktop($w) {
  @media only screen and (min-width: $w) {
    @content;
  }
}

.tps-tooltip {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  right: 0;

  background-image: url(../svg/inactive.svg);

  @include break-point-desktop($desktop) {
    &:hover {
      background-image: url(../svg/hovered.svg);
    }
  }

  &__active {
    background-image: url(../svg/active.svg);
  }

  &__active &__text {
    visibility: visible;
    opacity: 1;
  }
}

.tps-tooltip-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #0078c2;
  border-radius: 6px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 25%);
  padding: 12px 11px 12px 17px;
  z-index: 1;

  @include break-point-desktop($desktop) {
    top: 0;
    margin-top: -13px;
    width: 178px;
    right: calc(100% + 20px);
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: 14px;
      left: 100%;
      margin-left: -4px;
    }
  }

  //small mobile
  @include break-point($ex-small-mobile) {
    max-width: 300px;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 125%;
    right: -6px;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 16px 11px 12px; // (top, right, bottom, and left).
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 6px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }

  //small mobile
  @include break-point($small-mobile) {
    max-width: 300px;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 125%;
    right: -6px;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 16px 11px 12px; // (top, right, bottom, and left).
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 6px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }

  // mobile
  @include break-point($mobile) {
    max-width: 300px;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 125%;
    right: -6px;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 16px 11px 12px; // (top, right, bottom, and left).
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 6px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }

  // tablet
  @include break-point($tablet) {
    max-width: 300px;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 125%;
    right: -6px;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 16px 11px 12px; // (top, right, bottom, and left).
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 6px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }

  &__active {
    visibility: visible;
    opacity: 1;
  }

  &__shrink {
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
    bottom: 125%;
    right: -6px;
    font-size: 15px;
    line-height: 20px;
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 5px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }
}

.tps-tooltip-text-top {
  background-color: #0078c2;
  border-radius: 6px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 25%);
  padding: 12px 11px 12px 17px;
  z-index: 1;
  max-width: 300px;
  bottom: 125%;
  right: -6px;
  width: -moz-fit-content;
  width: fit-content;

  padding: 14px 16px 11px 12px; // (top, right, bottom, and left).
  &:after {
    content: url(../svg/arrow.svg);
    position: absolute;
    top: calc(100% - 5px);
    left: calc(100% - 23px);
    transform: rotate(90deg);
  }

  &__active {
    visibility: visible;
    opacity: 1;
  }

  &__shrink {
    width: -moz-fit-content;
    width: fit-content;
    bottom: 125%;
    right: -6px;
    &:after {
      content: url(../svg/arrow.svg);
      position: absolute;
      top: calc(100% - 5px);
      left: calc(100% - 23px);
      transform: rotate(90deg);
    }
  }
}
