.tps-tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted #ccc;
  color: #006080;
  top: -2px;
  left: -10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0078c2;

  &:before {
    content: "\003F";
    font-size: small;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: 500;
  }
  &__text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.active &__text {
    visibility: visible;
    opacity: 1;
  }

  &--right {
    top: -5px;
    left: 125%;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #555 transparent transparent;
    }
  }

  &--bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #555 transparent;
    }
  }

  &--top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &--left {
    top: -5px;
    bottom: auto;
    right: 128%;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #555;
    }
  }
}
